<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="assignment2">
  <test thread-count="5" name="cleartrip">
    <classes>
      <class name="com.assignment.cleartrip.webapp.test.base.BrowserTest"/>
      <class name="com.assignment.cleartrip.webapp.test.search.flight.FlightSearchTest"/>
    </classes>
  </test> <!-- cleartrip -->
</suite> <!-- assignment2 -->
